@model IEnumerable<OrdersAppTask2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome To the Products Page</h1>
<h4>Here at E-Commerce we provide the freshest food and the best </h4>
<h4>items at jaw dropping prices </h4>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Search Item: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        R @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory)
                    </td>

                </tr>
            }
        </tbody>
    </table>
